services:
  agent:
    build:
      context: .
      dockerfile: Dockerfile
      additional_contexts:
        - protocol=../protocol
      network: host
    image: pi-mono-agent:latest
    container_name: agent
    network_mode: host
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://localhost:6379
      - GEMINI_API_KEY
    volumes:
      - /home/ubuntu/.pi:/home/pi-mono/.pi
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
